@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);

body {
  background-color: #eaeaea;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.ui.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(29, 117, 218) 0%,
    rgb(42, 122, 241) 69%
  );
}

.ui.main.container {
  margin-top: 7em;
}

.masthead {
  display: flex;
  align-items: center;
  height: 100vh;
}

.upload-button-empty {
  position: relative;
  left: 25%;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 1);
}

.homepage-button {
  width: 50%;
  margin: 0 auto;
  /* position: absolute; */
  /* right: 50vw; */
}

.nobook {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.masthead h1.ui.header {
  font-size: 4em;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-calendar {
  width: 100%;
  border: None;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

.bookHighlights__highlights {
  list-style: none;
  padding: 0;
}

.bookHighlights__location {
  margin-top: 0.5rem;
  text-align: right;
  font-size: 10px;
}

.bookHighlights__delete {
  margin-top: 0.5rem;
  text-align: left;
  font-size: 10px;
}

.bookHighlights__image {
  overflow: auto;
  max-width: 300px;
  border: 1px dashed;
}

.bookHighlights__highlight {
  padding: 1rem;
  transition: background 140ms ease-in;
  border-bottom: 1px solid rgb(119, 119, 119);
}
